<!DOCTYPE html>
<html>
<head>
    <title>Desenvolvimento para Nuvem</title>
</head>
<body>
    <h1>Desenvolvimento para Nuvem</h1>

    <%- body %>

    <p>
        Desenvolvido por Carlos Mendes
    </p>
</body>
</html>